.title-page
{
  font-size: 42px;
  margin-top: 140px;
  margin-bottom: 80px;
  text-align: center;
}
.email-tag
{
  padding: 6px;
  margin-bottom: 40px;
}
.email-link
{
  text-decoration: none;
  color: #000000;
  letter-spacing: 1px;
  font-weight: 700;
}