body, html
{
  overflow-y: hidden !important;
  min-height: 500px;
}
.full-height
{
  height: 100vh;
}
.flex-center
{
  align-items: center;
  display: flex;
  justify-content: center;
}
.container-index
{
  background-image: url(../assets/images/background-index.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.content
{
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 40px #bdbdbd;
  padding: 10px;
}