.container-index::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../assets/images/background-index.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
.content-container {
  max-width: 800px;
  width: 100%;
}
.content-section {
  max-width: 1000px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 14px;
}
.section {
  // border-top: 2px solid #0066ff;
  // border-bottom: 2px solid #0066ff;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 100px;
  min-width: 300px;
  text-align: center;
}
.link-section {
  margin-top: 10px;
}
.link {
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
  transition: letter-spacing 0.2s ease;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba( 0, 0, 0, 0.19) !important;

  .parenthesis_empty {
    display: inline;
    color: #cc33ff;
  }

  .parenthesis_with_text {
    display: none;
    color: #cc33ff;
  }
}
.link:hover {
  opacity: 0.7;
  letter-spacing: 1.2px;
  transition: letter-spacing 0.2s ease;

  .parenthesis_empty {
    display: none;
  }

  .parenthesis_with_text {
    display: inline;
  }
}

@media only screen and (max-width: 600px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.left-part {
  left: 70%;
}
.right-part {
  left: 30%;
}
.technical-word {
  font-family: 'MaisonNeueExtended';
  font-size: 2vw;
  letter-spacing: 0.4px;
}
.fullname {
  font-family: 'MaisonNeueExtended';
  font-size: 2vw;
  letter-spacing: 0.4px;
  margin-bottom: 28px;
}
.words-section {
  display: grid;
  text-align: left;
}
.social-icons-section {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 4px;
  z-index: 20;
  pointer-events: auto;
}
.social-icon {
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
}
.icon {
  color: #000;
  font-size: 40px;

  &:hover {
    transform: scale(1.1);
  }
}
.icon-dark-theme {
  color: #fff;
}

@media only screen and (max-width: 960px) {
  .technical-word {
    font-size: 4vw;
  }
  .fullname {
    font-size: 4vw;
  }
  .left-part {
    left: 60%;
  }
  .right-part {
    left: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .words-section {
    text-align: center;
  }
  .social-icons-section {
    width: 100%;
    left: 75%;
  }
  .technical-word {
    font-size: 5.6vw;
  }
  .fullname {
    font-size: 5.6vw;
  }
  .split {
    height: 40%;
    width: 100%;

    &--right {
      top: 40%;
    }
  }
  .left-part {
    left: 50%;
  }
  .icon {
    color: #000;
    font-size: 32px;
  }
  .right-part {
    left: 50%;
  }
}