.content-container {
  max-width: 800px;
  width: 100%;
  margin: auto;
}
.email {
  padding-top: 80px;
  text-align: center;
  color: black;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 300;
}
.email-link {
  text-decoration: none;
  color: black;
}
.email-link:hover {
  color: #999999;
}