.toolbar-header
{
  box-shadow: none!important;
}
.logo-link
{
  font-size: 22px;
  color: #000000;
  text-decoration: none;
}
.link-button-section
{
  border-radius: 0px;

  &:hover
  {
    background-color: #000000;

    .link-text
    {
      color: #ffffff;
    }
  }
}
.link-text
{
  font-size: 12px;
//   font-weight: 600;
  letter-spacing: 2px;
  color: #6e6e6e;
}