.content-container {
  max-width: 800px;
  width: 100%;
  margin: auto;
}
.page-title {
  font-size: 40px;
  border-bottom: 2px solid #000;
  margin-top: 80px;
  font-weight: 800;
}
.image-tile:hover {
  // background-color: rgba(0, 0, 0, 0.4);

  .image-icon {
    display: block;
    color: #bfbfbf;
  }
}
.image-icon {
  display: none;
}

@media only screen and (max-width: 600px) {
  .content-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
