.content-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 140px;
}
.expirience-container {
  width: 100%;
  margin-top: 60px;
}
.information-section {
  font-family: 'Nunito', sans-serif;
}
.top-experionce-text {
  text-align: center;
  position: relative;
  z-index: 0;
  font-size: 6vw;
  font-weight: 500;
  letter-spacing: 10px;
  color: #f2f2f2;
  padding-left: 20px;
  display: flex;
}
.bracket {
  color: #000;
}
.main-description {
  margin-top: 40px;
}
.head-section {
  margin-top: 40px;
}
.color-line {
  height: 2px;
  background-image: linear-gradient(to right, #6a11cb, #2575fc, #ee609c);
}
.section {
  margin-top: 20px;
  display: flex;
}
.title-section {
  width: 30%;
}
.title-text {
  font-size: 16px;
  font-weight: 500;
  padding-top: 4px;
}
.title-description-section {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.description-section {
  width: 70%;
}
.subtitle-description-section {
  font-style: italic;
}
.main-description {
  line-height: 2;
  letter-spacing: 0.5px;
}
.description {
  line-height: 2;
  letter-spacing: 0.5px;
}
.item-section {
  letter-spacing: 0.5px;
  padding-bottom: 14px;
}
.head-title {
  letter-spacing: 1px;
  font-size: 28px;
  padding-bottom: 10px;
}
.border-bottom {
  padding-bottom: 14px;
  border-bottom: 1px solid #f2f2f2;
}
.images-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

$image-tile-max-height: 160px;

.image-tile {
  width: $image-tile-max-height;
  min-height: $image-tile-max-height;
  height: auto;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: transform .2s;
}
.image-section {
  position: relative;
  width: $image-tile-max-height;
  height: $image-tile-max-height;
  background-color: #fff;
}
.xghp {
  max-width: $image-tile-max-height;
  max-height: $image-tile-max-height;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.image-tile:hover {
  transform: scale(1.1);
}
.image-description {
  font-size: 12px;
  font-weight: 600;
  padding-top: 8px;
  text-align: center;
}
.tags-container {
  margin-top: 20px;
  margin-bottom: 10px;
}
.tag-item {
  margin-right: 10px;
  letter-spacing: 1.4px;
  font-size: 12px;
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
}

@media only screen and (max-width: 600px) {
  .information-section {
    padding-left: 14px;
    padding-right: 14px;
  }
  .section {
    display: block;
  }
  .title-section {
    width: 100%;
  }
  .description-section {
    width: 100%;
  }
  .main-description {
    font-size: 14px;
  }
  .description {
    font-size: 14px;
  }
  .head-title {
    font-size: 20px;
  }
  .title-text {
    font-size: 16px;
  }
  .title-description-section {
    font-size: 16px;
  }

  $image-tile-max-height: 100px;

  .image-tile {
    width: $image-tile-max-height;
    min-height: $image-tile-max-height;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .image-section {
    width: $image-tile-max-height;
    height: $image-tile-max-height;
  }
  .xghp {
    max-width: $image-tile-max-height;
    max-height: $image-tile-max-height;
  }
  .tag-item {
    margin-bottom: 10px;
  }
  .expirience-container {
    margin-top: 40px;
  }
  .top-experionce-text {
    font-size: 8vw;
    padding-left: 20px;
    padding-right: 12px;
    letter-spacing: 8px;
  }
  .content-container {
    margin-bottom: 60px;
  }
}