.content-container {
  width: 1200px;
  margin: auto;
  position: relative;
  z-index: 0;
}
.section-bottom-title {
  margin-top: -200px;
}
.title-text {
  text-align: center;
  position: relative;
  z-index: -10;
  font-size: 280px;
  font-weight: 500;
  letter-spacing: 10px;
  color: #f2f2f2;
}
.title-text-dark-theme {
  color: #404040;
}
.image-section {
  text-align: center;
}
.profile-image {
  max-width: 80%;
  position: relative;
  z-index: 0;
}
.vertical-section {
  transform: translateX(-48%) rotate(90deg);
  max-width: 220px;
  width: 100%;
  letter-spacing: 10px;
  font-size: 12px;
  font-weight: 800;
  border-bottom: 2px solid #000;
  line-height: 0.01em;
  margin: 10px 0 20px;
  position: absolute;
  top: 200px;
}
.vertical-section span {
  background-color: #fff;
  padding: 0 10px;
  text-transform: uppercase;
}
.vertical-section-dark-theme {
  border-bottom: 2px solid #fff;
}
.vertical-section-dark-theme span {
  background-color: #1a1a1a;
}
.full-name {
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 4px;
}
.full-name-dark-theme {
  color: #fff;
}
.description {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.6px;
}
.description-dark-theme {
  color: #fff;
}
.icons-section {
  margin-top: 20px;
}
.icon-link {
  text-decoration: none;
}
.icon:hover {
  color: #000;
}
.link-button {
  float: right;
}

@media only screen and (max-width: 600px) {
  .content-container {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .title-text {
    font-size: 100px;
    margin-top: 60px;
  }
  .section-bottom-title {
    margin-top: -90px;
  }
  .profile-image {
    max-width: 100%;
  }
  .full-name {
    font-size: 40px;
  }
  .vertical-section {
    top: 170px;
  }
}