.top-image {
  display: block;
  width: 100%;
  max-height: 720px;
  object-fit: cover;
}
.content-container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}
.post-title {
  font-size: 52px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 100%;
}
.datetime {
  margin-top: 14px;
  color: #000;
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 600;
  max-width: 640px;
  margin: auto;
}
.datetime-dark-theme {
  color: #b3b3b3;
}
.link {
  text-decoration: none;
  color: #b3b3b3;
}
.link:hover {
  color: #000;
}
.error-message {
  margin-top: 80px;
  color: red;
  font-weight: 800;
}
.post-content {
  max-width: 800px;
  width: 100%;
  padding: 0;
  margin: auto;
  margin-bottom: 100px;
}
.post {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.2px;
  line-height: 2;
  font-size: 16.8px;
  padding-top: 20px;
  max-width: 800px;
}

@media only screen and (max-width: 960px) {
  .content-container {
    padding-left: 14px;
    padding-right: 14px;
  }
  .post-content {
    margin: auto;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .top-image {
    min-height: 160px;
  }
  .content-container {
    width: 100%;
    margin-top: 40px;
    padding-left: 14px;
    padding-right: 14px;
  }
  .post-title {
    margin-top: 0;
    font-size: 30px;
  }
  .post-content {
    width: 100%;
  }
  .post {
    font-size: 14px;
  }
}