.content-container {
  max-width: 800px;
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
  font-size: 12px;
}
.link {
  text-decoration: none;
}
.link-text {
  color: #000;
  letter-spacing: 1px;
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.link-text-dark-theme {
  color: #33cc33;
}
.link-x {
  padding: 0;
}
.number-line {
  color: #d9d9d9;
}
.link-section:hover {
  background-color: #f2f2f2;
  padding-left: 12px;

  .number-line {
    margin-left: -12px;
  }

  .xpo {
    padding-left: 12px;
    transition: padding-left 0.2s ease;
  }
}
.comma {
  color: #6699ff;
}
.comma-not {
  display: none;
}
.top-image {
  width: 100%;
  height: 30vw;
  max-height: 940px;
  min-height: 200px;
  background-image: url('../../assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

@media only screen and (max-width: 600px) {
  .content-container {
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 20px;
  }
}